<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <title/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">Clima agora</h1>
      </div>
    </header>
    <main>
      <section class="container">
        <h2>Cidades do mundo</h2>
        <div class="botton-bar">
          <div class="container">
            <label for="filter-table">Filtrar cidades:</label>
            <input type="text" name="filtro" id="filter-table" placeholder="Digite o nome"/>
          </div>
          <div class="container">
            <span id="erro-ajax" class="invisible">Erro ao buscar cidade</span>
            <button id="search-cities" class="bto-main">Buscar cidades</button>
          </div>
        </div>
        <table>
          <thead>
            <tr>
              <th>Nome</th>
              <th>Estado</th>
              <th>País</th>
              <th>Latitude</th>
              <th>Longitude</th>
            </tr>
          </thead>
          <tbody id="table-cities">
            
          </tbody>
        </table>
      </section>
      <!-- ... -->
      <section class="container">
        <h2 id="title-form">Dados da cidade</h2>
        <ul id="error-message"/>
        <!-- Implementar a exibição dos dados retornados pela API -->
      </section>
    </main>
    <script src="/static/js/filter.js"/>
    <script src="/static/js/search-city.js"/>
  </body>
</html>
