<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <title/>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
  </head>
  <body>
    <header>
      <div class="container">
        <h2 class="title">Clima agora</h2>
      </div>
    </header>
    <main>
      <section class="container">
        <h2>Cidades do mundo</h2>
        <div class="botton-bar">
          <div class="container">
            <input type="text" name="input" id="inputValue" placeholder="Digite o nome"/>
          </div>
          <div class="container">
            <button id="search-cities" class="bto-main">Buscar cidades</button>
          </div>
        </div>
        <div class="container">
          <span id="erro-ajax" class="invisible">Falha ao buscar cidade, verique o nome digitado!</span>
        </div>
        <div class="description">
          <h1 class="info-name information"/>
          <h1 class="info-country information"/>
          <h1 class="info-temp information"/>
          <h1 class="info-humidity information"/>
          <h1 class="info-weather information"/>
        </div>
      </section>
      <section class="container">
        <h2 id="title-form">Dados da cidade</h2>
        <table>
          <thead>
            <tr>
              <th>Nº</th>
              <th>Id da Cidade</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody id="tabela-pacientes">
            <tr id="log_${log.id}" for(log in data.log)>
              <td>${log.id}</td>
              <td>${log.name}</td>
              <td>
                <a href="#">Editar</a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <script src="/static/js/index.js"/>
    <script src="/static/js/search-city.js"/>
  </body>
</html>
